streamlit
pandas==2.2.2
openpyxl==3.1.5
docx-mailmerge==0.5.0
datetime==5.5
xlcalculator
docxcompose
PyJWT
python-dotenv
extra-streamlit-components
google-api-python-client
google-auth-oauthlib
setuptools==65.5.0